/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.nivoSlider {
	position:relative;
	background:url(loading.gif) no-repeat 50% 50%;
    height:535px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivoSlider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:10%;
	top:5%;
    margin-left:-40px; /* Tweak this to center bullets */
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:14px;
	height:16px;	
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {	
	background:url(../../images/next_arrow.png) no-repeat;
	left:40px;
}
a.nivo-prevNav {
	left:80px;
	background:url(../../images/prev_arrow.png) no-repeat;
}

.nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.nivo-caption a:hover {
    color:#fff;
}